$company: #854EA7;
$primary: #0278BF;
$secondary: #FF8038;
$success: #7FBC7D;
$light: #F6F6F6;
$black: #000;

// ----------------------------------------
$theme-colors: (
    "company": $company,
    "black"  : $black,
);